.post-card {
    display: flex;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #000;
    position: relative;
    padding: 5px;
}

.post-card-footer {
    padding: 20px 0 0 0;
    margin-bottom: 5px;
}

.post-card-footer span {
    margin-right: 20px;
}

.post-card-title {
    font-size: 25px;
    padding-top: 10px;
    margin: 0;
}

.post-card-date {
    color: gray;
}

.post-card-button {
    position: absolute;
    bottom: 10px;
    right: 5px;
    background: transparent;
    border: none;
    color: blue;
}

.post-card-button:hover {
    background: transparent;
    color: blue;
    text-decoration: underline;
}